body {
    margin: 0px;
    padding: 0px;   
}

header {
    background-color: rgb(26, 94, 117);
    height: 100px;
}

nav {
    float: right;
    padding-right: 80px;
    padding-top: 20px;
    
}

.headerul {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.headerli {
    list-style:none; 
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    color: white;
    padding-top: 30px;
    padding-left: 150px;
}



.bgimg {
    background-image: url('office.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    height: 300px;
    background-position: center;
    position: relative;
}


.box1 {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 600px;
    height: 150px;
    width: 300px;
    padding: 10px;
   

}

.box2 {
    
    position: absolute;
    top: 50px;
    left: 600px;
    height: 160px;
    width: 320px;
    background-color: black;
    opacity: 0.5;
}

.boxhead {
    color: white;
}

.boxp {
    color: white;
}

.btn {
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}

.ourservices {
    padding: 10px;
}

.heading2 {
    color: blue;
}

li {
    list-style: circle;
}

.aboutus {
    background-color: rgb(224, 224, 224);
    height: 100px;
    padding: 10px;
}

.heading3 {
    color: green;
}

.contactus {
    padding: 10px;
}


.heading4 {
    color: red;
}

footer {
    background-color: rgb(26, 94, 117);
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 5px;
}